<div class="container">
 
   
  
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm)">
    
   
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="From Airport*" matInput [matAutocomplete]="auto" [formControl]="complexForm.controls['from']">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option.name }}, {{ option.country }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>   
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="To Airport*" matInput [matAutocomplete]="auto" [formControl]="complexForm.controls['to']" minLength="5" >
      
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option.name">
          {{ option.name }}, {{ option.country }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> 

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date of travel" [value]="complexForm.controls['date'].value" [formControl]="complexForm.controls['date']" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="accent" class="float-right" (click)=addItem()>Add Flight Number</button>

    <div formArrayName="flights"  *ngFor="let item of complexForm.get('flights').controls; let i = index;">


      <mat-form-field class="example-full-width" [formGroupName]="i">
        <input matInput placeholder="Flight Number" formControlName="flightNumber" type="text" required> 
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete(i)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>    

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email*" [formControl]="complexForm.controls['email']"  [errorStateMatcher]="matcher">
      <mat-error *ngIf="complexForm.controls['email'].hasError('email') && !complexForm.controls['email'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="complexForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field> 
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter your Name *" [formControl]="complexForm.controls['name']">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact number" [formControl]="complexForm.controls['tel']" type="tel">
    </mat-form-field>
    
    <a routerLink="/samDay" routerLinkActive="active">Same Day Travelling &raquo;</a>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a message" [formControl]="complexForm.controls['message']"></textarea>
    </mat-form-field>

    <div class="button-row float-right">
      <button mat-raised-button color="accent"  type="submit" (click)="reset(complexForm)">Reset</button>
      <button mat-raised-button color="accent" class="" type="submit" [disabled]="!complexForm.valid">Submit</button>
    </div>

</form>

  {{data | json}}

  
</div>
